*{
  padding: 0px;  border: 0px;  margin: 0px;
}

body{
  padding-left: 2.5em;  padding-right: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  display: flex;
  padding-top: 3ex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 2.5em;
  > p{
    flex: 4;
    font-weight: bold;
    font-size: 1.3em;
  }
  > a{
    flex: 1;
    padding-top: 0.7em;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
  }
  > button{
    //flex: 2;
    padding-left: 20px;    padding-right: 20px;
    padding-top: 5px;    padding-bottom: 5px;
    background-color: #fff;
    border: black solid 1px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.3em;
  }
}

.banner{
  margin-bottom: 30vh;
  &-img{
    position: absolute;
    overflow: hidden;
    width: 93%;   height: 85vh;
    z-index: 0;
    & > img{
      position: relative;
      border-radius: 10px;
      top: 18%;
      left: 20%;
      transform:translate(-20%,-20%);
      width: 96%;   height: 550px;
      object-fit:cover;
      z-index: 1;
    }
  }
    &-content{
      padding: 7%;
      border-radius: 10px;
      position: relative;
      z-index: 2;
      background: linear-gradient(90deg, #B3E8BE 21.27%, rgba(227, 227, 227, 0) 86.66%);
      height: 50vh;
    }

    &-text{
      padding-bottom: 20vh;
      font-size: 1.8em;
      font-weight: bold;
    }
    & > h1{
      position: relative;
      z-index: 3;
    }
    & > p{
      position: relative;
      z-index: 3;
      font-size: 0.5em;
      font-weight: bold;
    }
    
    &-menu{
      padding-left: 3%;   padding-right: 3%;
      padding-top: 1.5em;    padding-bottom: 1.5em;
      width: 70vw;
      border-radius: 10px;
      display: flex;
      align-items: center;
      align-self: center;
      position: relative;
      z-index: 4;
      background-color: #fff;
      box-shadow: -22px 23px 25px rgba(191, 191, 191, 0.25), 22px 22px 25px rgba(191, 191, 191, 0.25);
    }
    &-Facilities{
      flex: 1.3;
      & > div{
        display: inline-block;
        width: 20%;
        text-align: center;
        margin-left: 2%;   margin-right: 2%;
      }
      & > h1{
        display: inline-block;
        width: 48%;
      }
      & > span{
        display: inline-block;
        width: 45%;
        font-size: 1.2em;
        font-weight: bold;
        color: #FF8A00;
        text-align: right;
      }
      & > div > p{
        font-size: 1.3em;
        font-weight: bold;
      }
    }
    &-Hotels-for-you{
      flex: 0.7;
      text-align: center;
      & > p{
        font-size: 1.2em;
        color: #A0A0A0;
        margin-top: 1.5em;  margin-bottom: 1.5em;
      }
      & > button{
        border-radius: 10px;
        background-color: #0500FF;
        font-size: 1.2em;
        color: #FFF;
        font-weight: bold;
        padding-left: 2em;  padding-right: 2em;
        padding-top: 0.7em;  padding-bottom: 0.7em;
      }
    }
    &-Search{
      flex: 1;
      & > form{
        border-radius: 20px;
        padding-left: 5%;   padding-right: 5%;
        padding-top: 2%;    padding-bottom: 2%;
        margin-top: 5%;  margin-bottom: 5%;
        width: 80%;
        box-shadow: 0px 4px 4px 0px #00000040;
        & > input{
          font-size: 1.5em;
          width: 90%;
        }
        & > img{
          display: inline;
          height: 20px;  width: 20px;
        }
      }
      & > img{
        display: inline;
        height: 20%;  width: 20%;
        margin: 5%;
      }
    }
}
.facilities-img{
  border-radius: 20px;
  
  margin-top: 15%;  margin-bottom: 10%;
  height: 80%;    width: 80%;
  box-shadow: 0px 4px 4px 0px #00000040;

}

.cards{
  display: flex;
  /*align-content: center;
  justify-content: center;
  align-self: center;*/
  position: absolute;
  z-index: 1;
  width: 75vw;
  margin-bottom: 5%;  
  margin-left: 6%; margin-right: 6%;
  border-radius: 10px;
  &-h{
    text-align: center;
    margin-top: 1.5em;  margin-bottom: 1.5em;
  }
  /*&-menu{
    position: relative;
    z-index: 1;
    align-self: center;
  }*/
  &-background{
    position: relative;
    z-index: 0;
    background-color: #E1F0F4;
    width: 100%;   height: 40vh;
    margin-top: 12%;  margin-right: 0px;
    border-radius: 10px;
  }
}
.card{
  flex: 1;
  //display: inline-block;
  //text-align: center;
  //width: 29%;
  //margin: 2%;
  border-radius: 10px;
  margin-left: 1em;  margin-right: 0.7em;
  box-shadow: 0px 4px 4px 0px #00000040;
  & > img{
    width: 31%;  // height: 15vh;
    position: absolute;
    z-index: 1;
  }
  &-info{
    position: relative;
    background-color: #fff;
    z-index: 2;
    margin-top: 67%;
    //margin-left: 1em; margin-right: 1em;
    padding: 10px; padding-bottom: 15px;
    border-radius: 0px 0px 10px 10px;
    & > img{
      width: 20%;
      box-shadow: 0px 4px 4px 0px #00000040;
      border-radius: 100%;
    }
  }
  &-text{
    display: inline-block;
    width: 75%;
    margin-right: 0px;
  }
  &-price{
    font-size: 1.2em;
    font-weight: bold;
    color: red;
  }
  &-id{
    //font-size: 2em;
    font-weight: bold;
    margin-top: 0.2em;  margin-bottom: 0.5em;
  }
  &-comment{
    font-weight: bold;
    color: #A0A0A0;
  }
}

.beach{
  display: flex;
  align-items: center;
  width: 75vw;
  margin-left: 7%; margin-right: 7%;
  margin-top: 10em;  margin-bottom: 7em;
  &-column{
    flex: 1;
    & > p{
      font-size: 2em;
      margin-top: 0.5em;  margin-bottom: 0.5em;
    }
    & > ul{
      list-style-type: none;
      margin-top: 2em;  margin-bottom: 2em;
    }
    & > ul > li{
      display: inline-flex;
      justify-content: center;
      width: 90%;
    }
    & > ul > li > p{
      font-size: 2em;
      flex: 2;
      margin-top: 0.7em;  //margin-bottom: 0.5em;*/
      padding-left: 2em;
    }
    & > ul > li > img{
      width: 10%;
      flex: 0.5;
    }
    & > img{
      width: 110%;
    }
  }
}

.relaxing{
  display: flex;
  position: absolute;
  z-index: 0;
  width: 75vw;
  margin-left: 7%; margin-right: 7%;
  font-size: 1.2em;
  &-img{
    flex: 1.8;
    & > img{
      width: 30%;
      margin-left: 0.5em; margin-right: 0.5em;
      box-shadow: 0px -26px 4px #DEEBEF;
      border-radius: 20px;
    }
  }
  &-text{
    flex: 1;
    padding-left: 2em;  padding-top: 2em;
    & > h1{
      font-weight: lighter;
      margin-top: 0.5em;  margin-bottom: 0.5em;
    }
  }
}
.special{
  margin-bottom: 10%;
}
.book-now{
  position: relative;
  background-color: #fff;
  z-index: 1;
  width: 20vw;
  font-size: 1.2em;
  border-radius: 0px 20px 20px 0px;
  margin-left: 25%; 
  margin-top: 25%; margin-bottom: 15%;
  padding-left: 1.2em;  padding-right: 1.6em;
  padding-top: 0.7em;  padding-bottom: 0.7em;
  &-text{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5em;
    border-bottom: solid #ACACAC;
    width: 100%;
    & > img{
      flex: 0.5;
      width: 10%;
    }
  }
  & > button{
    background-color: #FF9100;
    color: #fff;
    font-size: 0.9em;
    border-radius: 20px;
    padding-left: 0.7em;  padding-right: 0.7em;
    padding-top: 0.6em;  padding-bottom: 0.6em;
    margin: 5px; margin-top: 0.9em;
  }
}
.resort{
  flex: 5;
}
.like{
  flex: 1;
}

.woman{
    position: absolute;
    z-index: 6;
    display: inline-block;
    width: 20%;
    margin-left: 65vw;
    margin-bottom: 20vh;
}
.airline{
  position: relative;
  z-index: 0;
  &-in{
    position: relative;
    z-index: 1;
    background-color: #E5F4F7;
    height: 45vh; //width: 100vw;
    padding-top: 8vh;  padding-bottom: 12vh;
    //padding-left: 5vw;  padding-right: 5vw;
    font-size: 1.7em;
  }
  &-cont{
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    height: 40vh;
    border-radius: 20px;
    padding: 2vw;
    padding-left: 5vw;  padding-right: 5vw;
    & > span{
      display: inline-block;
      width: 75%;
      font-weight: bold;
      margin-top: 1.5em;  margin-bottom: 1.5em;
    }
    & > ul{
      display: inline-block;
      list-style-type: none;
      width: 75%;
      & > li{
        display: inline-block;
        width: 45%;
        /*padding-left: 1.5em;*/  padding-right: 1.5em;
        margin-top: 0.5em;  margin-bottom: 0.5em;
      }
    }
  }
  
}

footer{
  text-align: center;
  margin-top: 30vh;  //margin-bottom: 5%;
  & > h1{
    font-size: 3em;
  }
  & > p{
    font-size: 1.2em;
    font-weight: bold;
  }
  & > form{
    margin-top: 3em;  margin-bottom: 7em;
    & > input{
      border-radius: 10px;
      padding-left: 2%;   padding-right: 2%;
      padding-top: 0.5em;   padding-bottom: 0.5em;
      margin-top: 1.5em;  margin-bottom: 1.5em;
      margin: 5px;
      box-shadow: 0px 0px 4px 0px #00000040;
      font-size: 1.2em;
    }
    & > button{
      border-radius: 10px;
      background-color: #273BF4;
      font-size: 1.2em;
      color: #FFF;
      padding-left: 1.2em;  padding-right: 1.2em;
      padding-top: 0.7em;  padding-bottom: 0.7em;
      margin: 5px;
    }
  }
}
.footer-nav{
  display: flex;
  font-size: 1.5em;
  margin-top: 2em; margin-bottom: 2em;
  &-col1{
    flex: 2;
    text-align: left;
    padding-left: 2.5em; padding-right: 2.5em;
    & > p{
      color: #7D7D7D;
    }
  }  
  &-col2{
    flex: 1;
    text-align: left;
    padding-left: 2.5em; padding-right: 2.5em;
    & > ul > li{
      list-style-type: none;
      color: #7D7D7D;
    }
  }
}
.footer-bottom{
  display: flex;
  color: #7D7D7D;
  padding-top: 2em; padding-bottom: 2em;
  border-top: solid #ACACAC;
  font-size: 1.2em;
  & > span{
    flex: 2;
    text-align: left;
  }
  & > p{
    flex: 1;
    text-align: right;
  }
}

/*.App {
  text-align: center;

  &-logo{
    height: 40vmin;
    pointer-events: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
